.hd1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: aliceblue;
  height: 150px;
}
.hd1_c1{
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  font-style: italic;
}
.hd1_c2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 50px;
}
.hd1_c1 p{
font-size: 25px;
color: rgb(27, 27, 27);
}

.hd1_c2 p{
  font-size: 15px;
  color: rgb(27, 27, 27);
}



.profile-section {
  display: flex;
  justify-content: flex-start; /* 左对齐 */
  align-items: flex-start;
  margin: 20px 50px;
}

.ps_1 {
  width: 25%; /* 左侧的宽度 */
  font-weight: bold;
  font-style: italic;
  text-align: left;
  justify-content: flex-start;
  align-items: flex-start;
}

.ps_2 {
  width: 75%; /* 右侧的宽度 */
}

.ps_1 h2 {
  font-size: 35px;
  margin: 0.5px;      /* 确保标题紧贴左上角 */
  padding: 0.5px;
}

.ps_2 p {
  font-size: 20px;
  color: #333;
}

  


.experience-section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 20px 50px;
}

.experience-title {
  width: 25%; /* 左侧标题宽度 */
  font-weight: bold;
  font-style: italic;
}
.experience-title h2{
  font-size: 35px;
  margin: 0.5px;      /* 确保标题紧贴左上角 */
  padding: 0.5px;
}
.experience-details {
  width: 75%; /* 右侧工作经验内容宽度 */
}

.job-item {
  margin-bottom: 20px;
}

.job-item h3 {
  font-size: 16px;
  margin: 0;
}

.job-item p {
  font-size: 14px;
  color: #333;
  margin-top: 5px;
}


  


.skills-section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 20px 50px;
}

.skills_1 {
  width: 25%;
  font-weight: bold;
  font-style: italic;
}

.skills_1 h2{
  font-size: 35px;
  margin: 0.5px;      /* 确保标题紧贴左上角 */
  padding: 0.5px;
}

.skills_2 {
  width: 75%;
}

.skills_2 ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 将技能按4列分布 */
  gap: 5px;
}

.skills_2 li {
  font-size: 14px;
  margin-bottom: 5px;
}

  



.education-section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 20px 50px;
}

.edu_1 {
  width: 25%;
  font-weight: bold;
  font-style: italic;
}

.edu_1 h2{
  font-size: 35px;
  margin: 0.5px;      /* 确保标题紧贴左上角 */
  padding: 0.5px;
}

.edu_2 {
  width: 75%;
}

.edu_2 h3 {
  margin: 5px 0;
}

.edu_2 p {
  font-size: 14px;
}


.horizontal-line {
  width: 93%;           /* 设置线条宽度 */
  height: 1px;           /* 设置线条高度 */
  background-color: #000000; /* 设置线条颜色 */
  margin: 20px 50px;        /* 设置线条的上下间距 */
}

.horizontal-line_1 {
  width: 100%;           /* 设置线条宽度 */
  height: 4px;           /* 设置线条高度 */
  background-color: #fae104; /* 设置线条颜色 */
  margin: 0;        /* 设置线条的上下间距 */
}
